body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #004080;
    color: white;
}

header .top-bar {
    background-color: #004080;
    display: flex;
    justify-content: right;
    padding: 5px 0px;
    color: rgb(255, 255, 255);
    font-size: small;
}

header .language-toggle a,
header .quick-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
}

header .font-size {
    display: flex;
    margin: 0 15px;
}

header .font-size a {
    margin: 0 5px;
    background-color: white;
    color: #004080;
    font-size: small;
    padding: 0 5px;
    text-decoration: none;
    line-height: 20px;
}

header .logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo img {
    height: 150px;
    width: 150px;
}

/* Dropdown Styles */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu li {
    width: 200px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.search-button {
    height: 25px;
    width: 200px;
    background-color: white;
    color: black;
    border: 2px solid #ccc;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.search-button:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
}

nav {
    background-color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #002060;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: inline-flex;
    font-size: small;
}

nav ul li {
    position: relative;
}

nav ul li a {
    height: 90%;
    color: #002060;
    text-decoration: none;
    padding: 5px 15px;
    font-weight: 700;
}

nav ul li a:hover {
    background-color: #002060;
    color: white;
}

nav ul li .dropdown-menu a {
    color: #002060;
    padding: 10px 15px;
    display: block;
    white-space: nowrap;
}

nav ul li .dropdown-menu a:hover {
    background-color: #004080;
    color: white;
}


main {
    padding: 20px;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.announcements-highlights {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
}

.announcements-highlights h2,
.quick-links h2 {
    border-bottom: 2px solid #004080;
    padding-bottom: 10px;
}

.announcement-item,
.highlight-item {
    margin: 20px 0;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .grid{
    width: 100%;
    margin: 24px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer .grid section{
    height: 200px;
    width: 300px;
}

footer .grid section ul>li{
    list-style: none;
    text-align: left;
    font-size: 17px;
}


footer .grid section ul p{
    list-style: none;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

footer aside{
   color: lightgray;
   font-size: small;
}


footer .footer-logo{
    width: 100px;
    background: white;
    border-radius: 2px;
}

.video-component{
    padding: 0;
    margin: 0;
}

.video-component video{
  height: 600px;
  width: 100%;
  object-fit: cover;
}

/* Marqueee */

.marquee-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 20px;
  }
  
  .marquee-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 40px;
  }
  
  .marquee-left {
    background-color: #f8993b;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    white-space: nowrap;
    width: 20%;
    position: relative;
  }
  
  .marquee-left::after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px; /* Adjust to control the slant */
    width: 0;
    height: 0;
    border-top: 20px solid transparent; /* Adjust height to match the container */
    border-left: 10px solid #f8993b; /* Adjust width and color to match the container */
    border-bottom: 20px solid transparent; /* Adjust height to match the container */
    z-index: 1; /* Ensure the slant is below the text */
  }
  .marquee-left{
    font-weight: 900;
  }
  
  .marquee-right {
    color: black;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    padding-left: 30px; /* Add padding to start text a little bit inside */
  }
  
  .marquee-right::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px; /* Adjust to control the slant */
    width: 0;
    height: 0;
    border-top: 20px solid transparent; /* Adjust height to match the container */
    border-right: 10px solid #acd3fb; /* Adjust width and color to match the container */
    border-bottom: 20px solid transparent; /* Adjust height to match the container */
    z-index: 1; /* Ensure the slant is below the text */
  }
  

  /* InfiniteScroller.css */
.scroller-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 10px;
    background-color: #acd3fb;
  }
  
  .scroller-text {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-text 20s linear infinite;
    transition: all 0.5s;
  }
  
  .scroller-container.hovered .scroller-text {
    animation-play-state: paused;
    color: rgb(58, 58, 58);
    cursor: pointer;
  }
  
  @keyframes scroll-text {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  
  
/* Custom styles for carousel */
.carousel .slide img {
    width: 100%;
    height: auto;
}

.carousel .legend {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    /* width: fit-content; */
}

 
/* Events */

.events{
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


.events .cards{
  height: auto;

}

.events .cards main{
  height: 200px;
  width: 350px;
  padding: 0;
  margin: 10px;
  border-radius: 6px;
  box-shadow: 0px 0cqw 4px rgb(193, 193, 193);

}

.events .cards main h2{
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border-bottom: 1px solid rgb(230, 229, 229); */
  width: 90%;

}

.events .cards main p{
  text-align: center;
  color: #004080
  
}

.events .cards main div{
  text-align: center;
}


.events .cards main .button{
  margin: 25px auto;

}






/* Responsive Design */

@media (max-width:480px){

header .logo img {
    height: 30px;
}
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .events{
    gap: 30px;
    }

    .events .missions {
        height: auto;
        flex-basis: 80%;
    }
}

/* InfiniteImageScroller.css */
.image-scroller-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    position: relative;
  }
  
  .image-scroller {
    display: flex;
    animation: scroll-images 40s linear infinite;
  }
  
  .image-scroller-container.hovered .image-scroller {
    animation-play-state: paused;
  }
  
  .scroller-image {
    height: 30px; /* Adjust size as needed */
    width: 100%;
    object-fit: contain;
    margin: 0px 10px;
  }
  
  @keyframes scroll-images {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-45%);
    }
  }
  

  .program-grid{
    background-color: #00408010;
    padding: 10px 0;
  }


  .menu-content-container {
    display: flex;
  }
  
  .menu {
    width: 20%;
    background-color: #f4f4f4;
    padding: 10px;
  }
  
  .menu-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }
  
  .menu-item:hover {
    background-color: #ddd;
  }
  
  .menu-item.active {
    background-color: #ccc;
    font-weight: bold;
  }
  
  .content {
    width: 80%;
    padding: 10px;
  }
  
  .content-item {
    display: none;
  }
  
  .content-item.visible {
    display: block;
  }
  
  .content-item.hidden {
    display: none;
  }



  /* Responsive Design */
@media (max-width: 480px) {
  header .logo img {
      height: 30px;
  }

  .image-scroller {
    animation: scroll-images 10s linear infinite;
  }
}
@media (max-width: 768px) {

  .search-bar input{
    margin: 0.5rem 0;
  }

  nav ul {
      flex-direction: column;
      align-items: center;
  }
  nav ul li {
      margin: 10px 0;
  }
  .events {
      gap: 30px;
  }
  .events .missions {
      height: auto;
      flex-basis: 80%;
  }
}
@media (max-width: 1250px){
  .video-component video {
      height: auto;
  }
}
@media (max-width: 770px) {
  header .top-bar,
  header .font-size,
  header .logo-nav {
      flex-direction: column;
      padding: 5px;
  }
  header .logo img {
      height: 60px !important;
      display: block;
      margin: 0 auto;
  }
  #root > div > header > div.top-bar > div.font-size {
      flex-direction: row;
  }
  nav {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #004080;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 1000;
      max-height: 80vh;
      overflow-y: auto;
  }
  nav.open {
      display:contents;
  }
  #root > div > header > nav > ul{
      height: 270px;
      padding-left: 40%;
  }
  nav ul {
      flex-direction: column;
      text-align: center;
      padding:0;
      margin: 0;
  }
  nav ul li {
      margin: 4px 0;
      position: relative;
  }
  nav ul li a {
      color: #fff;
      text-decoration: none;
      padding: 5px;
      display: block;
      text-align: center;
  }
  .dropdown-menu {
      display: none;
      position: static;
      background-color: transparent;
      box-shadow: none;
  }
  .dropdown:hover .dropdown-menu {
      display: none;
  }
  .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 20px;
      z-index: 1100;
  }
  .hamburger .line {
      width: 100%;
      height: 3px;
      background-color: white;
      margin: 3px 0;
      transition: transform 0.3s ease;
  }
  .hamburger.open .line:nth-child(1) {
      transform: rotate(45deg) translate(4px, 4px);
  }
  .hamburger.open .line:nth-child(2) {
      opacity: 0;
  }
  .hamburger.open .line:nth-child(3) {
      transform: rotate(-45deg) translate(4px, -4px);
  }
  footer .grid {
      flex-direction: column;
  }
  .video-component video {
      height: auto;
  }
  .events .missions,
  .events .cards {
      flex-basis: 100%;
  }
  #root > div > div.events > section.missions > h1 {
      font-size: 25px;
      text-align: center;
  }
  .missions h3 {
      text-align: center;
  }
  .missions p {
      text-align: start;
      padding-left: 15px;
      font-size: 18px;
      line-height: 1.5;
      margin: 0 0 10px;
  }
  .missions li {
      font-size: 18px;
      word-break: break-word;
      line-height: 1.5;
  }
  footer .footer-logo{
      width: 65px;
  }
}
  
#root > div > footer > div > section:nth-child(1) > img{
  width: 180px;
    background:transparent;
    border-radius: 2px;
}